<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/style.css">
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      <nav>
        <img src="" alt="logo">
        <ul>
          <li><a>Home</a></li>
          <li><a>Over Ad's</a></li>
          <li><a>Publicaties</a></li>
          <li><a>talent award</a></li>
          <li><a>Nieuws</a></li>
        </ul>
        <a>event button</a>
      </nav>
    </header>