<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/style.css">
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      <nav>
        <img src="" alt="logo">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/over-ad">Over Ad's</a></li>
          <li><a href="/publicaties">Publicaties</a></li>
          <li><a href="/talent-awards">talent award</a></li>
          <li><a href="/nieuws">Nieuws</a></li>
        </ul>
        <a>event button</a>
      </nav>
    </header>