<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <header>
      <img src="" alt="logo">
      <ul>
        <li><a>Home</a></li>
        <li><a>Over Ad's</a></li>
        <li><a>Publicaties</a></li>
        <li><a>Nieuws</a></li>
      </ul>
    </header>
    <section>
      <h1>Naam van Ad award</h1>
      <img src="" alt="foto van persoon">
    </section>
    <section></section>
  </body>
</html>
