/* header */

header {
    .top-nav {
        background-color: var(--secondary-background-color);
    }

    nav {
        display: flex;
        width: 100%;
        position: sticky;
        padding: 1rem 5%;

        ul {
            display: flex;
            width: 100%;
            justify-content: end;
            gap: 2rem;
        }
    }
}